.anim_slidein {

    &:before {
        animation: .5s ease-out 1 .75s slidein-title;
        animation-play-state: running;
    }
}



[data-aos="bounce"] {
    opacity: 0;
    &.aos-animate {
        opacity: 1;
        animation: bounce .75s;
    }
}

[data-aos="bounce-inverse"] {
    opacity: 0;
    &.aos-animate {
        opacity: 1;
        animation: bounce .75s;
    }
}

@keyframes slidein-title {

    0% {
        margin-left: -300px;
        opacity: 0;
    }
    100% {
        margin-left: -24px;
        opacity: 1;
    }
}

@keyframes moveAnim {

  from {
      flex: 1;
  }
  to {
      flex: none;
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }
    60% {
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes bounce-inverse {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }
    60% {
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes test {
    0% {
        content: "Menu";
    }
    100% {
        content: "Close";
    }
}
