@use "abstracts/variables" as *;

.b-testimonial-contact {
	padding: 0;
	display: flex;
	gap: 0;
	flex-flow: column;
	width: 100%;
	@media screen and (min-width: $grid-md) {
		flex-flow: row wrap;
	}

	h1, h2, h3, h4, h5, h6, p {
		color: var(--primary-color-3);
		font-style: normal;
		&.details {
			font-style: normal;
			font-weight: 300;
		}
	}

	&__testimonials,
	&__contact {
		flex: 1 1 100%;
		box-sizing: border-box;
		@media screen and (min-width: $grid-md) {
			flex: 1 1 50%;
		}
	}

	&__testimonials {
		max-width: 100%;
		padding: var(--grid-section) calc(var(--grid-gutter) * 2);
		background-color: var(--primary-color-1);

		.swiper-testimonial {
			width: 100%;
			max-width: 58rem;
			margin: auto;
			display: flex;
			gap: 2.5rem;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			.swiper-slide {
				display: flex;
				gap: 2.5rem;
				flex-flow: column;
				text-align: center;
			}
		}
		p {
			font-style: italic;
			&.details {
				font-style: normal;
				font-weight: 300;
			}
		}
		.swiper-pagination-bullet-active {
			// background-color: var(--primary-color-3) !important;
		}
	}

	&__contact {
		padding: var(--grid-section) calc(var(--grid-gutter) * 2);
		display: flex;
		align-items: center;
		align-self: stretch;
		justify-content: center;
		background-color: var(--primary-color-3);

		h1, h2, h3, h4, h5, h6, p {
			color: var(--secondary-color-1);
		}
	}

	&__contact-content {
		width: 100%;
		max-width: 58rem;
		display: flex;
		gap: 2.5rem;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
