@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.c-block-title {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    pointer-events: all;
    @include block-bounds();

    p,
    div {
        display: flex;
    }

    .u-strong,
    strong {
        color: var(--primary-color-1);
    }

    &__title {
        font-size: 4.8rem;
        line-height: 1.1em;
        letter-spacing: -0.02em;
        color: var(--primary-text-color);
    }

    &__text {
        gap: var(--grid-gutter);
        flex-flow: column;
    }

    &.text-alignment-left {
        align-items: flex-start;
        text-align: left;
    }

    &.text-alignment-center {
        align-items: center;
        text-align: center;
    }

    &.text-alignment-right {
        align-items: flex-end;
        text-align: right;
    }
}
